# Assignment  1: Simulation study of UCB and Thompon sampling
## by Buelent Uendes

In the following, I will replicate Figure 1 of the article Chapelle and Li (2011).

In [10]:
import numpy as np
import math
import random
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import bernoulli

In [3]:
random.seed(10)

## Simulate the dataset

In [6]:
# Set the parameters for the simulated data
K = [10,100]
eps = [0.02, 0.1]
p_best = 0.5
T_1 = 1000000 #for K 10
T_2 = 10000000 #for K 100

In [63]:
def simulate_data(K, eps, T,p_best):
    p = [p_best] + [p_best - eps]*(K-1)
    data = {}
    for i in range(0,K):
        sample = [np.random.binomial(1,p[i]) for j in range(0, T)]
        data[i] = sample
    return pd.DataFrame(data)

In [64]:
test = simulate_data(10,0.02,T_1,p_best)

In [65]:
test

        0  1  2  3  4  5  6  7  8  9
0       1  0  1  0  1  0  0  0  1  0
1       0  1  0  1  0  0  0  1  1  0
2       0  0  0  0  0  0  1  1  1  0
3       1  1  1  0  1  1  1  0  1  0
4       0  0  0  1  1  0  1  0  1  1
...    .. .. .. .. .. .. .. .. .. ..
999995  0  1  0  1  0  0  0  1  1  1
999996  1  0  0  1  0  1  1  1  1  1
999997  0  1  0  0  1  1  1  1  1  1
999998  0  0  1  0  1  1  1  0  0  1
999999  1  1  0  0  0  1  0  0  1  0

[1000000 rows x 10 columns]

# Define asymptotic regret

In [ ]:
def asmpyptotic_regret(T, p_best, eps, K):
    p = [p_best] + [p_best - eps]*(K-1)
    divergence_sum = 0
    for i in range(0,p):
        divergence_sum += (p_best-p[i])/()
    return np.log(T)*(np.sum())